/* inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* noto serif font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* universal style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes myheader {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  20% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.9;
    transform: translateX(-10%);
  }
}

@keyframes spinning-badge {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* shared----style */

.container {
  max-width: 71.25rem;
  margin: 0 auto;
}

/* header-style */
.nav-bar li {
  list-style: none;
}
.nav-bar li a {
  text-decoration: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}
body {
  animation: myheader 0.8s cubic-bezier(0.295, 0.13, 0.685, 0.22);
}
.nav-list {
  display: flex;
  gap: 2.5rem;
}
/* nav-bar style---- */

.home {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}
.shop,
.about,
.cart {
  color: #8987a1;
  font-size: 1rem;
  font-weight: 400;
}
/* banner ----style */
.first-section {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}
.banner-style {
  color: #e95a08;
}
.banner-title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 4.375rem;
}
.right-container img {
  width: 100%;
  display: block;
}
.banner-description {
  color: #8987a1;
  font-size: 1.125;
}
/* second --section--style */
.second-section {
  margin-bottom: 11.25rem;
}
.plants-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.plants-description {
  color: #8987a1;
}
.plants-conatiner {
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin-top: 3.75rem;
  margin-bottom: 6.25;
}
.flower-gallery {
  padding-bottom: 1rem;
}

.flower-gallery img {
  width: 100%;
}
.purchase-related {
  text-align: center;
}

.flower-name {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-weight: 500;
  font-size: 1.125rem;
}
.flower-price {
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.purchase-btn {
  border: none;
  padding: 1rem 5.375rem;
  background-color: #e95a08;
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

/* ---third--section */

.flower-lover-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.left-part img {
  width: 100%;
  height: 31.25rem;
}
.right-part ul {
  padding-left: 1.875rem;
}
.right-part ul li {
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}
.flower-title {
  margin-top: 4.375rem;
  margin-bottom: 3.125rem;
  line-height: 2.5rem;
  font-size: 2.5rem;
}
.postion-badge {
  width: 17.875rem;
  height: 17.875rem;
  position: absolute;
  top: -7.5rem;
}

.postion-badge img {
  width: 100%;
  filter: drop-shadow(4px -3px 1px rgb(134, 126, 126));
  animation: spinning-badge 50s linear infinite;
}

.third-section {
  margin-bottom: 6.25rem;
}
/* latest------style */
.latest-container {
  text-align: center;
  margin-bottom: 6.25rem;
}
.latest-title {
  font-size: 3.125rem;
  margin-bottom: 1rem;
}
.latest-description {
  color: #8987a1;
}
.image-1 {
  width: 100%;
  height: 32vh;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-2 {
  width: 100%;
  height: 32vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-gallery {
  width: 40%;
}

.right-gallery {
  height: 64.3vh;
  width: 60%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.5)),
    url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-gallery {
  margin-bottom: 100px;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
.latest-gallery h2 {
  color: white;
  font-weight: 700;
  font-size: 1.375rem;
}
.anchor {
  margin-left: 30%;
  color: white;
  line-height: 2.5rem;
  text-underline-offset: 4px;
  font-weight: 600;
  font-size: 1rem;
}
/* ------input container--style */
.sixth-section {
  max-width: 90rem;
  margin: 0 auto;
}
.input-container {
  height: 53.3vh;
  width: 100%;
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25rem;
  position: relative;
}
.mobile-text {
  color: white;
  position: absolute;
  display: none;
}

form {
  display: flex;
}

input[type="email"] {
  height: 3.125rem;
  width: 45rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid rgb(234, 82, 82);
}
input[type="email"]:focus {
  border: none;
}

input[type="submit"] {
  width: 11.625rem;
  height: 3.125rem;
  background-color: #e95a08;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

/* footer ---style */
.footer-section {
  max-width: 71.25rem;
  margin: 0 auto;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 3.125rem 10rem;
}
.details-container li {
  list-style: none;
}

.details-container a {
  text-decoration: none;
  line-height: 2.5rem;
  color: #8987a1;
}
.twitter-icon {
  height: 1.563rem;
}
.media-section {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.first-container p {
  line-height: 1.25rem;
  margin-top: 1.25rem;
  color: #8987a1;
}
/* responsive for moble devices */

@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .banner-description {
    margin: 0 auto;
    margin-top: 1.25rem;
  }

  .banner-title {
    margin-top: 2.5rem;
  }
  .cart {
    color: black;
    display: flex;
    gap: 0.625rem;
    margin-top: 40px;
  }
  .header-container {
    padding-left: 0;
    margin-left: 0;
  }
  .home,
  .about,
  .shop {
    display: none;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-lover-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .flower-lover-container img {
    width: fit-content;
  }
  .postion-badge {
    display: none;
  }

  .header-container {
    align-items: center;
    justify-content: center;
  }

  /* .latest-container {
    margin: 0 auto;
  } */
  .fifth-section {
    margin: 0 auto;
  }
  .latest-gallery {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .left-gallery {
    width: 92%;
  }

  .image-1,
  .right-gallery,
  .image-2 {
    height: 20vh;
  }
  .image-2 {
    border-radius: 0;
  }
  .right-gallery {
    width: 95%;
  }

  .input-container {
    width: 100%;
    height: 40vh;
  }
  input[type="email"] {
    height: 3.125rem;
    width: 20rem;
  }
  input[type="submit"] {
    height: 3.125rem;
    width: 5.625rem;
  }
  .mobile-text {
    color: white;
    position: absolute;
    display: block;
    font-weight: 400;
    font-size: 1.563rem;
    top: 10%;
  }
  .second-nav {
    margin-bottom: 0.625rem;
  }
  .media-section img {
    margin-left: 0px;
  }

  .media-section {
    margin-bottom: 1.25rem;
  }
  .details-container {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding-left: 1.875rem;
    margin-bottom: 1.25rem;
  }

  .purchase-btn {
    padding: 1rem 2.813rem;
  }
}

@media screen and (max-width: 440) {
  input[type="submit"] {
    width: 20px;
  }
  .input-container {
    background-image: 100%;
  }
}

/* Responsive for tablet/medium devices */

@media screen and (min-width: 577px) and (max-width: 1140px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .right-container img {
    width: fit-content;
  }

  .plants-conatiner {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .purchase-btn {
    padding: 10px 40px;
  }
  .gallery-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
  }
}
